@import "tailwindcss";

:root {
  /* Default light theme constants (fallback) */
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-color: #3390ec;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f4f4f5;
}



body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  overscroll-behavior: none;
  /* Prevent rubber-banding on iOS */
}

/* Custom Scrollbar for Web */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--tg-theme-hint-color);
  border-radius: 3px;
}